<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethan.blog.mapper.MyBlogArchiveMapper">
  <resultMap id="BaseResultMap" type="com.ethan.blog.model.MyBlogArchive">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="o_id" jdbcType="VARCHAR" property="oId" />
    <result column="archive_time" jdbcType="BIGINT" property="archiveTime" />
  </resultMap>
</mapper>